<div class="" id="green" style="background-color:aquamarine; height: 700px;">
    <h4>Sidebar</h4>

    <!-- Navigation links in sidebar-->
  <div class="nav-item">
    <a routerLink="/Addproduct" routerLinkActive="active" class="nav-link" >Add product</a><br />
    <a routerLink="/product"  routerLinkActive="active" class="nav-link">product</a><br />
    <br />
    <a routerLink="/order"  routerLinkActive="active" class="nav-link">order</a><br  />
    <br />
    <a  routerLink="/register"  routerLinkActive="active" class="nav-link">Register</a><br />
    <br />
    <a routerLink="/login"  routerLinkActive="active" class="nav-link">login</a><br />
    <br />
    <a routerLink="/admin"  routerLinkActive="active" class="nav-link">admin</a><br /><br/>
     <button class="btn btn-primary" (click)="Logout()">LogOut</button>
</div>
