
<div class="row text-left">
    <form (submit)="Login()" [formGroup]="userform">
      <div class="col-6">
        
            
          <div class="input-form mb-3">
            <label>Email</label>
            <input type="text" class="form-control" placeholder="email" name="email"  formControlName="email"
            [class.is-valid]="userform.get('email')?.valid"  [class.is-invalid]="userform.get('email')?.invalid"/>
          </div>
        
            
        

          <div class="input-form mb-3">
            <label>password</label>
            <input type="text" class="form-control" placeholder="password" name="password"   formControlName="password"
            [class.is-valid]="userform.get('password')?.valid"  [class.is-invalid]="userform.get('password')?.invalid"/>
          </div>
         
         
          
          <button class="btn btn-primary" type="submit" [disabled]="userform.invalid">login</button>
    
      
    
    </div>
    </form>

    <h4 class="alert alert-danger col-6" *ngIf="notmatch">{{notmatch}}</h4>
  </div>
  
 